$blanco: #F3F3F3;
$color-text: #111111;
$select-color: #a7a7a7;
$button-blue: #005b8e;
$blur: #08080850;
.conteiner-BUR {
    background-color: rgba(240, 255, 255, 0);
    width: 80%;
    position: relative;
    margin: 15% auto auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteiner-BUR__BU{
    background-color: $blanco;
    width: 40%;
    height: 50%;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
}

.conteiner-BUR__R {
    background-color: $blanco;
    width: 40%;
    height: 50%;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
}

